@use './custom' as *;

// IMPORT THE COMPONENTS //

@use 'components/animations';
@use 'components/buttons';
@use 'components/mixins';
@use 'components/typography';


// IMPORT THE SECTION //

@use 'sections/companies';
@use 'sections/navbar';
@use 'sections/intro-sections';
@use 'sections/footer';
@use 'sections/services';
@use 'sections/testimonials';



