.companies{
    margin-bottom: 2rem;
    margin-top: 7rem;
}


.company-img {
  width: 65%; /* Desktop ke liye fixed chhoti size */
  height: auto;
  transition: transform 0.3s ease;
}
.big-logo{

  width: 20%; /* Desktop ke liye fixed chhoti size */
  height: auto;
  transition: transform 0.3s ease;

}

.big-logo2{

  width: 30%; /* Desktop ke liye fixed chhoti size */
  height: auto;
  transition: transform 0.3s ease;

}

.big-logo3{

  width: 35%; /* Desktop ke liye fixed chhoti size */
  height: auto;
  transition: transform 0.3s ease;

}

.company-logo{
    margin-top: 5rem;
}