.icons{
    margin-top: 3rem;
    i{
        margin-right: 1rem;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;

        &:hover{
            color: #1a73e8;
        }
    }
    p{
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        
    }
    a{
        text-decoration: none;
        text-transform: capitalize;
        margin-left: 0.5rem;

        &:hover{
            text-decoration: underline;
        }
    }

}

.google-img{
         width: 100%;
        height: 100%;
        align-content: center;
        
}
.footer-heading-line{
    border: 1px solid rgb(223, 223, 223);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
   
}
.footer-last-row{
     font-family: "Roboto", sans-serif;
    span{
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
    }
    a{
        text-decoration: none;
        padding-left: 1.5rem;
        text-transform: capitalize;
        color: #6c757d;
        font-weight: 500;
        padding-right: 0.5rem;
    

        &:hover{
            text-decoration: underline;
            color: #1a73e8;
        }
    }
}

.footer-links{
    align-content: center;
}
.footer-dropdown{
    color: #6c757d;
    align-content: center;
    margin-top: -1.5rem;
    


    i{
        font-size: 1rem;

        &:hover{
            color: #1a73e8;
        }
        
    }
    span{
        font-size: 1rem;
        padding-right: 2rem;
        font-weight: 100;
    
    }
    
}

.dropdown-toggle{
    color: #6c757d;

    &:hover{
        color: #1a73e8;
    }
}