@use '../custom'as *;

.intro-section{
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
    
    li {
          list-style: none;
          margin: 1.5rem 0  0 -1.5rem;
        a{
            text-decoration: none;
        }
        span{
            color: $gray-600;
            margin-right: 1.5rem;
        }
    }
}

.btn-intro{
    margin-left: 1.5rem;
    margin-bottom: 0.2rem;
}

.heading-line{
    border: 1px solid $gray-300;
    margin-top: 5.5rem;
}

.divider-text{
         p{
            color: $gray-600;
            font-weight: 500;
         }

         i{
            font-size: 1.2rem;   
            &:hover{
                color: $primary;
            }
        }
}