@use '../custom'as *;

// .btn-rounded{
//     color: $white;
//     background-color: $primary;
//     border-radius: 5px;
//     border: none;
//     padding: 0.540rem 1.3rem 0.540rem 1.3rem ;
//     margin: 0;
//     text-transform: capitalize;
//     font-weight: 500;
// }

   .btn-rounded {
    @include media-breakpoint-down(sm){
        display: none;
    }
    position: relative;
    padding: 0.540rem 1.3rem 0.540rem 1.3rem ;
    font-weight: 500;
    border: none;
    text-transform: capitalize;
    background-color: $primary;
    border-radius: 5px;
    color: $white;
    margin: 0rem 0rem 0rem 0.2rem;
     &:hover{
            background-color: $dark-blue;
        }

    }

   

.btn{
        color: $blue;
        border-color: $gray-300;
        padding: 0.540rem 1.3rem 0.540rem 1.3rem ;
        
        
       
        &:hover{
            color: $white;
            background-color: $primary;
        }
    }

    .btn-footer{
        margin-left: 0.5rem;
        margin-bottom: 0.2rem;
    }